* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  overflow-x: hidden;
  background-color: #FEFBD8; /* Lightest */
}

main {
  padding: 1rem;
}

h1, h2 {
  color: #987D9A; /* Darkest */
}

h3 {
  padding-bottom: 2rem;
  color: #EECEB9; /* More Lighter */
  font-size: 1.8rem;
}

button {
  padding: 16px 8px;
  width: 100%;
  margin-top: 12px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: #BB9AB1; /* Lighter */
  color: #FEFBD8; /* Lightest */
}

.btn-disabled {
  background-color: lightgray;
}

li {
  list-style-type: none;
  cursor: pointer;
  margin: 9px 0;
  padding: 16px 8px;
  color: #EECEB9; /* More Lighter */
  border: 1px solid #BB9AB1; /* Lighter */
  font-weight: 600; /* Slightly bold */
}

.li-hover:hover {
  background-color: #BB9AB1; /* Lighter */
  color: #987D9A; /* Darkest */
}

.li-selected {
  color: #987D9A; /* Darkest */
  background-color: #FEFBD8; /* Lightest */
}

.container {
  max-width: 740px;
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.quiz-container {
  background-color: #987D9A; /* Darkest */
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 4px;
}

.container p {
  padding: 8px 0;
}
